*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(5, 55, 86);
    color: azure;
    font-size: 9vmin;
    height: 6rem;
    line-height: 6rem;
}

.choice{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#paper{
    transform: rotate(-90deg);
}

#scissor{
    transform: rotate(-83deg);
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 5rem;
}

.msg-container{
    margin-top: 2rem;
}

#msg{
    background-color: darkslategray;
    color: aliceblue;
    height: 2.5;
    line-height: 2.5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}